body{
    background-color: #202e3b;
}
@font-face {
    font-family: 'Mont';
    src: url('../Font/Montserrat-Bold.ttf') format('truetype'); /* ou 'ttf', 'woff', etc. */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Segment';
    src: url(../Font/SegmentAKeyTrial-Black.otf) format('opentype');
}

.Imagens img{
    position: absolute;
    width: 420px;
    margin-top: 120px;
    left: 800px;
}
.Textos {
    position: relative;
    flex-direction: column;
    width: 750px;
    height: 250px;
    top: 150px;
    margin-left: 10px;
    padding: 20px;
}
.Textos h2{
    display: flex;
    justify-content: center;
    font-family: 'Mont'; 
    color: aliceblue;
}
.Textos h1{
    position: absolute;
    font-family: 'Segment';
    font-size: 200px; 
    color: aliceblue;
    top: -143px;
    margin-left: 145px;
}
.Menu{
    position: absolute;
    display: flex;
    margin-left: 180px;
    top: 395px;
    width: 450px;
    height: auto;
    justify-content: space-around;
}
.Menu a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mont';
     color: aliceblue;
     text-decoration: none;
     border: 1px solid transparent;
     padding: 10px;
     border-radius: 10%;
}
.Menu>a:hover{
    border: 1px solid #7DF9FF;
     transform: scale(1.3);
     transition:  0.3s ease, border 0.3s ease;
}